@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* 전체선택자 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #2c2a29;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
    display: block;
}

/* 부모 크기 맞추기 */
img {
    width: 100%;
}

body,
a {
    font-family: 'Noto Sans KR', sans-serif;
}

/* 미디어 쿼리 - 분기점(breakpoint) - 모바일 버전 */
@media screen and (min-width:360px) {
    header {
        width: 100%;
        height: 70px;
        background-color: #f6f5ef;
        padding: 0 3vw;
        /* % : 직속부모 기준 vw : 보는 장치 가로길이 기준(360이 100%면 거기서 3% */
        /* 높이는 px 추천 */
    }

    header .center_box {
        width: 100%;
        height: 70px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    header .center_box .logo {
        width: 45px;
        height: 45px;
    }

    header .center_box .menu_area .header_icon ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        /* 세로 맞추기 */
    }

    header .center_box .menu_area .header_icon ul li {
        /* 우측 아이콘의 가로길이 */
        width: 20%;
    }

    header .center_box .menu_area .top_menu {
        display: none;
        /* 안보임 */
    }

    header .center_box .menu_area .menu {
        display: none;
        /* 안보임 */
    }

    /* 모바일의 center_box의 자식객체들은 열 기준 줄바꿈 안됨 */
    section .center_box {
        /* 2행이상일땐 그리드/ 1행 나열 시 플랙스 */
        display: flex;
        flex-flow: column nowrap;
        /*열기준 일 떄는 가운데 정렬 */
        /* justify-content: center; */
        /*열기준 일 떄는 세로 균등 배열 */
        /* align-content: center; */
    }

    /* 모바일의 a태그(버튼)일때에는 모두 같은 스타일 적용*/
    section a {
        border: 2px solid #1a3c34;
        width: 38vw;
        line-height: 10vw;
        color: #1a3c34;
        font-size: 16px;
        /* border안 가운데 정렬 */
        text-align: center;
        border-radius: 3px;
        font-weight: bold;
        margin-top: 7vw;
    }

    /* 00118 */
    section.s1 {
        /* 접속한 장치에 맞춰 */
        width: 100vw;
        height: 255vw;
        /* 부모에게 패딩쓰면 ->자식 줄어듬 */
        padding: 18vw 16vw;
        background-image: url(../img/2024_m_newYear_top_bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    /* pc버전 안보이게 */
    section.s1 .pc_detail,
    section.s1 .pc_drink {
        display: none;
    }

    /* 맨위 로고만 작게 */
    section.s1 .moment {
        width: 42vw;
        margin: 5vw auto;
    }

    section.s1 .drink {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    section.s2 {
        width: 100%;
        height: 140px;
        position: relative;
    }

    /* s2의 .center_box와 .s2_bg가 겹침(자식 선택자)*/
    section.s2>div {
        position: absolute;
        width: 100%;
        height: 140px;
    }

    /* s2의 배경 */
    section.s2 .s2_bg .black_bg {
        width: 100%;
        height: 70px;
        background-color: black;
    }

    section.s2 .s2_bg .white_bg {
        width: 100%;
        height: 70px;
        background-color: #fff;
    }

    /* s2의 center_box의 .notice와 .promotion 둘 다 선택 -> 옆으로 나란히*/
    section.s2 .center_box>div {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        /* 새로 사운데 정렬 */
        align-items: center;
        padding: 0 10vw;
        color: #fff;
    }

    section.s2 .notice div {
        padding: 0;
    }

    section.s2 h3 {
        display: none;
    }

    section.s2 div p {
        width: 72%;
        padding-right: 12%;
        /* 말줄임 */
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    section.s2 div a {
        width: 30px;
        border: none;
    }

    section.s2 .center_box .promotion {
        height: 70px;
        color: #333;
        justify-content: center;
    }

    section.s2 .center_box .notice {
        height: 70px;
    }

    section.s2 .center_box .notice .btn a {
        padding-bottom: 10px;
    }

    section.s2 .center_box .promotion .btn a {
        padding-bottom: 10px;

    }

    section.s2 .center_box .promotion p {
        width: auto;
        font-size: 20px;
        font-weight: bold;
        padding-right: 5%;
    }

    section.s3 {
        background-color: #1e3932;
        color: #fff;
        padding-top: 40px;
        padding-bottom: 50px;
    }

    section.s3 .rewards_logo {
        width: 40%;
        /* 30px : 밑 글씨 간격 */
        margin: 0 auto 30px;
    }

    section.s3 .rewards_txt {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        line-height: 24px;
    }

    section.s3 .rewards_txt .flex {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
    }

    section.s3 .rewards_txt .flex h2 {
        font-size: 4.5vw;
        line-height: 28px;
        /* 굵은 글씨를 보통 굵기로 */
        font-weight: normal;
        /* vw 쓸때에는 margin 쓰기 */
        margin-bottom: 14px;
    }

    section.s3 .rewards_txt .flex p {
        font-size: 3.4vw;
    }

    /* 버튼 */
    section.s3 .rewards_txt a {
        display: inline-block;
        color: #fff;
        font-weight: normal;
        border-color: #fff;
        /* 줄바꿈 x */
        white-space: nowrap;
        width: 34vw;
        font-size: 14px;
        margin: 5vw 1vw;
        line-height: 8vw;
    }

    /* pc버전에서는 줄바꿈 안보이게 */


    /* 회원 가입 버튼만 배경색 변경 */
    section.s3 .rewards_txt .join {
        background-color: #00704a;
        border-color: #00704a;
    }

    section.s3 .rewards_txt .rewards_bottom {
        /* 실무 : hr 잘 안씀(after도 X) */
        border-top: 1px solid #4b615b;
        padding-top: 50px;
        padding-bottom: 20px;
    }

    section.s3 .rewards_txt .rewards_bottom a {
        width: 72.63vw;
    }

    /* 모바일 버전에서는 글자 줄바꿈 설정 */
    section.s3 br,
    section.s4 br {
        display: block;
    }

    section.s4 {
        background-image: url(../img/2024_m_newYear_promotion_bg.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        /* height: 710px; */
        height: 175vw;
        padding: 60px 0;
        text-align: center;
        color: #6a501a;
    }

    section.s4 .beans_img {
        /* pc버전에서는 position:absolate;로 처리함 */
        position: relative;
        width: 53vw;
        margin: 0 auto;
        /* 이미지 위치 조절 */
        transform: translateX(10vw);
    }

    section.s4 .beans_txt {
        margin-top: 20px;
        letter-spacing: -1px;
    }

    section.s4 .beans_txt strong {
        font-size: 4vw;
        opacity: 0.8;
    }

    section.s4 .beans_txt h2 {
        font-size: 6.5vw;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    section.s4 .beans_txt p {
        font-size: 14px;
    }

    section.s4 .beans_txt a {
        color: #6a501a;
        border-color: #6a501a;
        margin: 7vw auto 0;
    }

    section.s5 {
        background-image: url(../img/231221_m_reserve_bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* 자식 객체 겹치기 */
        position: relative;
        height: 180vw;
    }

    section.s5 .pc_guatemala {
        display: none;
    }

    section.s5 div a {
        position: absolute;
        bottom: 16%;
        left: 50%;
        transform: translateX(-50%);
        color: #cd9757;
        border-color: #cd9757;
    }

    section.s6 {
        background-image: url(../img/231222_m_pick_bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 12vw;
        padding-top: 33vw;
        display: flex;
        flex-flow: column nowrap;
        height: 233vw;
        position: relative;
    }

    /* .pick_txt와 .pick_img 순서 바꾸기(부모에게는 flex 하기 / 1부터 먼저)*/
    section.s6 .pick_txt {
        /* 글씨 위치지정 */
        position: absolute;
        /* 항상 부모 영역의 정가운데 */
        left: 50%;
        transform: translateX(-50%);
        top: 70%;

        /* 순서 */
        order: 2;
        color: #fff;
        text-align: center;
        white-space: nowrap;
    }

    section.s6 .pick_txt h3 {
        font-size: 6vw;
        line-height: 7vw;
        /* strong만 두껍게 */
        font-weight: normal;
        /* 글과 글사이 간격 */
        margin-bottom: 4vw;
    }

    section.s6 .pick_txt p {
        font-size: 3.1vw;
    }

    section.s6 .pick_txt p span {
        /* 인라인 요소를 블록요소로 변경 (자동 줄바꿈) */
        display: block;
    }

    section.s6 .pick_txt a {
        border-color: #fff;
        color: #fff;
        margin: 5vw auto;
        width: 120px;
        font-size: 14px;
        line-height: 8vw;
    }

    section.s6 .pick_img {
        order: 1;
    }

    /* 모바일에서는 안보임 */
    section.s6 .pick_txt .pick_title {
        display: none;
    }

    section.s7 {
        background-image: url(../img/reserve_visual_m.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 183vw;
        /* section.s7 a의 부모에게 relative */
        position: relative;
    }

    /* 모바일 버전에서는 안보임 */
    section.s7 .magazine {
        display: none;
    }

    section.s7 a {
        width: 120px;
        border-color: #333;
        color: #333;
        font-size: 14px;
        line-height: 8vw;
        /* 위치지정 : position */
        position: absolute;
        left: 50%;
        transform: translateX(-65%);
        bottom: 4vw;
    }

    section.s8 {
        background-image: url(../img/store_bg.jpg);
        /*  배경 이미지 반복(나중에 pc버전에서는 반복x) */
        background-repeat: repeat;
        background-size: 100%;
        /* 자식객체 absolate */
        position: relative;
        background-position: center;
        height: 168vw;
    }

    /* .store_img, .bean .store1 .store2 겹치기  */
    section.s8 .store_img {
        width: 80%;
        height: 75vw;
        margin: 0 auto;
        position: relative;
    }

    section.s8 .store_img .bean {
        position: absolute;
        width: 50%;
        top: 73%;
        left: 6.5%;
    }

    section.s8 .store_img .store1 {
        /* 순서가 store2보다 먼저여서 일부분 가려짐 */
        position: absolute;
        width: 70%;
        top: 0;
        left: 0;
    }

    section.s8 .store_img .store2 {
        position: absolute;
        width: 50%;
        /* 범위 밖으로이동 -> 부모의 높이 설정 */
        right: 6vw;
        bottom: 0;
    }

    section.s8 .store_txt {
        text-align: center;
        margin-top: 5vw;
    }

    section.s8 .store_txt h3 {
        font-size: 5vw;
        font-weight: normal;
    }

    section.s8 .store_txt h4 {
        font-weight: normal;
        font-size: 3.5vw;
    }

    section.s8 .store_txt p {
        margin-top: 4vw;
        font-size: 3.1vw;
    }

    section.s8 a {
        width: 120px;
        font-size: 14px;
        color: #333;
        border-color: #333;
        line-height: 8vw;
        margin: 7vw auto;
    }

    section.s8 .store_icon {
        width: 40%;
        position: absolute;
        bottom: -10px;
        left: 46%;
    }

    /* footer 영역의 sitemap_list는 아코디언 메뉴로 작성 */
    footer {
        width: 100%;
    }

    footer .sitemap,
    footer .info {
        background-color: #2c2a29;
    }

    footer .awards {
        background-color: #282828;
        padding: 5vw;
        border-bottom: 3px solid #282828;
    }

    footer .sitemap {
        /* 자식객체 .footer_logo 의 위치를 sitemap기준으로 설정 */
        position: relative;
    }

    footer .sitemap .footer_logo {
        /* 모바일 버전에서 안보임 */
        display: none;
    }

    /*  자식 선택자(>) */
    footer .sitemap>ul {
        display: flex;
        /* 모바일버전:세로 pc버전:가로 */
        flex-flow: column nowrap;
    }

    /* 주메뉴 */
    footer .sitemap .sitemap_list>ul>li>a {
        display: flex;
        justify-content: space-between;
        background-color: #554c46;
        color: #fff;
        font-size: 14px;
        padding: 3.2vw;
        border-top: 1px solid #403a36;
    }

    /* footer 영역의 sitemap_list의 주메뉴 클릭하면 밑줄나옴 */
    footer .sitemap .sitemap_list>ul>li>a.active span {
        text-decoration: underline;
    }

    /* sitemap_list의 주메뉴를 클릭하면 화살표 방향 바꿈 */
    footer .sitemap .sitemap_list>ul>li>a.active i {
        transform: rotateX(180deg);
    }

    footer .sitemap .sitemap_list .sub {
        display: none;
    }

    footer .sitemap .sitemap_list .sub li a {
        background-color: #645952;
        color: #e6dbd3;
        font-size: 14px;
        padding: 3vw;
    }

    footer .sitemap .footer_btn {
        /* 모바일에서는 보임(pc에서는 안보이게하기위해 미리 지정 */
        display: block;
        padding: 7vw 5vw;
        padding-bottom: 10vw;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    footer .sitemap .footer_btn a {
        color: #fff;
        border: 2px solid #fff;
        padding: 2vw 7vw;
        border-radius: 4px;
        white-space: nowrap;
    }

    /* footer 영역의 swiper는 슬라이드 plugin 사용하여 작성 */
    footer .awards .swiper {
        width: 60vw;
        margin: 0 auto;
    }

    footer .awards .swiper div {
        width: 60vw;
        text-align: center;

    }

    footer .awards .swiper img {
        width: initial;
    }

    footer .awards .swiper-btn {
        color: #aaa;
        position: relative;
        width: 12px;
        height: 16px;
    }

    footer .awards .swiper-btn i {
        position: absolute;
    }

    footer .awards .swiper-btn .fa-play {
        display: none;
    }

    footer .awards .swiper-btn .fa-pause {
        display: inline-block;
    }

    footer .info .user {
        padding: 7vw 14vw 3vw 14vw;
        line-height: 24px;
        text-align: center;
    }

    footer .info .user a {
        color: #ccc;
        font-size: 12px;
        padding: 0 10px;
        display: inline-block;
        border-right: 1px solid #393939;
    }

    footer .info .user a:first-child,
    footer .info .user a:nth-child(4) {
        font-weight: bold;
        color: #00b050;
    }

    footer .info .user_btn {
        text-align: center;
        padding: 0vw 5vw;
    }

    footer .info .user_btn a {
        border: 2px solid #fff;
        color: #fff;
        display: inline-block;
        font-size: 12px;
        width: 100px;
        height: 35px;
        line-height: 30px;
        text-align: center;
        border-radius: 3px;
        margin: 0.5vw;
    }

    footer .info address,
    footer .info p {
        /* 기울어지지 않게 */
        font-style: normal;
        color: #ccc;
        font-size: 12px;
        text-align: center;
        margin: 5vw;
        opacity: 0.8;
    }

    /* 모바일 글로벌 네비게이션(전체메뉴) */
    header .menu_area .mobile_menu {
        width: 100vw;
        height: 100vh;
        z-index: 100;
        position: fixed;
        top: 0;
        /* 네비게이션 바 이동 */
        right: -100vw;
        /* r:0  g:0 b:0 alpha : 0.7(투명도) */
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        flex-flow: row nowrap;
    }

    /* 직속 자식 선택자  - 닫기 버튼 */
    header .menu_area .mobile_menu .close_btn {
        color: #fff;
        font-size: 7vw;
        padding: 4vw;
        width: 30%;
        text-align: right;
        cursor: pointer;
    }

    /* 닫기 버튼 회전 */
    /* actice는 제이쿼리로 제어 */
    header .menu_area .mobile_menu .close_btn i.active {
        transform: rotateZ(-90deg);
        /* transition : 속성 실행시간 대기시간 */
        transition: all 0.3s 0.3s;
    }


    header .menu_area .mobile_menu .mobile_menu_box {
        background-color: #111;
        width: 70%;
        /* 메뉴 스크롤 */
        overflow: auto;
    }

    header .menu_area .mobile_menu .mobile_menu_box .mobile_search {
        background-color: #2d2926;
        padding: 4vw 8vw 5vw;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #222;
    }

    header .menu_area .mobile_menu .mobile_menu_box .mobile_search input {
        width: 28vw;
        height: 6vw;
        border: 1px solid #e3e1d2;
        border-radius: 3px;
        margin-right: 10px;
    }

    header .menu_area .mobile_menu .mobile_menu_box .mobile_search button {
        background-color: #666;
        color: #fff;
        border-radius: 3px;
        width: 16vw;
        font-size: 3vw;
        height: 6vw;
        line-height: 25px;
        text-align: center;
        border: none;
    }

    /* 모든 메뉴 (1, 2, 3차원)*/
    header .menu_area .mobile_menu .mobile_menu_box nav ul li a {
        font-size: 3vw;
        color: #fff;
        padding: 4vw;
        border-bottom: 1px solid #222;
        background-color: #111;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* 글로벌 메뉴 오른쪽 아래 화살표 */
    header .menu_area .mobile_menu .mobile_menu_box nav ul li a i {
        font-size: 4vw;
    }


    /* 첫번째 메뉴 영역의 배경 색 변경 */
    header .menu_area .mobile_menu .mobile_menu_box nav>ul>li:first-child>a {
        background-color: #2d2926;
    }


    /* 1차 서브 메뉴 */
    header .menu_area .mobile_menu .mobile_menu_box nav .sub li a {
        background-color: #202124;
        color: #ccc;
        padding: 3vw 4vw;
        border-bottom: 1px solid#333;
    }

    /* 1차 서브 메뉴의 아래쪽 화살표 */
    header .menu_area .mobile_menu .mobile_menu_box nav .sub li a i {
        color: #666;
    }

    /* 2차 서브 메뉴 */
    header .menu_area .mobile_menu .mobile_menu_box nav .sub .sub li a {
        background-color: #282a2d;
        padding: 2vw 9vw;
        color: #999;
        font-size: 2.8vw;
        border-bottom: none;
    }

    /* 서브 메뉴 안보임 */
    header .menu_area .mobile_menu .mobile_menu_box nav .sub {
        display: none;
    }

    /* 메뉴에서 마우스 오버하면 밑줄나옴 */
    header .menu_area .mobile_menu .mobile_menu_box nav ul li a:hover span,
    header .menu_area .mobile_menu .mobile_menu_box nav ul li a.active span {
        text-decoration: underline;
    }

    /* sitemap_list의 주메뉴를 클릭하면 화살표 방향 바꿈 */
    header .menu_area .mobile_menu .mobile_menu_box nav ul li a.active i {
        transform: rotateX(180deg);
    }
}

@media screen and (min-width:480px) {}

/* 미디어 쿼리 - 분기점(breakpoint) - 태블릿 버전 */
@media screen and (min-width:1024px) {}

/* 미디어 쿼리 - 분기점(breakpoint) - PC 버전 */
@media screen and (min-width:1440px) {}